<?xml version="1.0" encoding="utf-8"?>
<configuration>
		<configSections>
				<sectionGroup name="umbracoConfiguration">
					<section name="settings" type="Umbraco.Core.Configuration.UmbracoSettings.UmbracoSettingsSection, Umbraco.Core" requirePermission="false" />
						<section name="FileSystemProviders" type="Umbraco.Core.Configuration.FileSystemProvidersSection, Umbraco.Core" requirePermission="false" />
				</sectionGroup>
		  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Umbraco.Automation.CLI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
		<umbracoConfiguration>
			<settings>
		<backOffice>
				<tours enable="false"></tours>
		</backOffice>
	<content>
		<errors>
			<error404>1</error404> 
		</errors>
		<notifications>
			<email>noreply@example.com</email>
		</notifications>
		<PropertyContextHelpOption>text</PropertyContextHelpOption>
		<PreviewBadge>
			<![CDATA[<a id="umbracoPreviewBadge" style="z-index:99999; position: absolute; top: 0; right: 0; border: 0; width: 149px; height: 149px; background: url('{1}/preview/previewModeBadge.png') no-repeat;z-index: 9999999;" href="#" OnClick="javascript:window.top.location.href = '{0}/endPreview.aspx?redir={2}'"><span style="display:none;">In Preview Mode - click to end</span></a>]]></PreviewBadge>
		<MacroErrors>inline</MacroErrors>
		<!-- These file types will not be allowed to be uploaded via the upload control for media and content -->
		<disallowedUploadFiles>ashx,aspx,ascx,config,cshtml,vbhtml,asmx,air,axd,swf,xml,xhtml,html,htm,php,htaccess</disallowedUploadFiles>
		<!-- Defines the default document type property used when adding properties in the back-office (if missing or empty, defaults to Textstring -->
		<defaultDocumentTypeProperty>Textstring</defaultDocumentTypeProperty>
		<!-- Enables value converters for all built in property editors so that they return strongly typed object, recommended for use with Models Builder -->
		<EnablePropertyValueConverters>true</EnablePropertyValueConverters>
		<!-- You can specify your own background image for the login screen here. The image will automatically get an overlay to match back office colors - this path is relative to the ~/umbraco path. The default location is: /umbraco/assets/img/installer.jpg -->
		<loginBackgroundImage>assets/img/installer.jpg</loginBackgroundImage>
	</content>
	<security>
		<!-- set to true to auto update login interval (and there by disabling the lock screen -->
		<keepUserLoggedIn>false</keepUserLoggedIn>
		<!-- by default this is true and if not specified in config will be true. set to false to always show a separate username field in the back office user editor -->
		<usernameIsEmail>true</usernameIsEmail>
		<!-- change in 4.8: Disabled users are now showed dimmed and last in the tree. If you prefer not to display them set this to true -->
		<hideDisabledUsersInBackoffice>false</hideDisabledUsersInBackoffice>
	</security>
	<requestHandler>
		<!-- this will ensure that urls are unique when running with multiple root nodes -->
		<useDomainPrefixes>false</useDomainPrefixes>
		<!-- this will add a trailing slash (/) to urls when in directory url mode -->
		<addTrailingSlash>true</addTrailingSlash>   
	</requestHandler>
	<templates>
		<!-- To switch the default rendering engine to MVC, change this value from WebForms to Mvc -->
		<defaultRenderingEngine>Mvc</defaultRenderingEngine>
	</templates>
	<scheduledTasks>
		<!-- add tasks that should be called with an interval (seconds) -->
		<!--    <task log="true" alias="test60" interval="60" url="http://localhost/umbraco/test.aspx"/>-->
	</scheduledTasks>
	<distributedCall enable="false">
		<user>0</user>
		<servers></servers>
	</distributedCall>
	<web.routing trySkipIisCustomErrors="false" internalRedirectPreservesTemplate="false" disableAlternativeTemplates="false" validateAlternativeTemplates="false" disableFindContentByIdPath="false" umbracoApplicationUrl="">
	</web.routing>
</settings>
				<FileSystemProviders>
						<Provider alias="media" type="Umbraco.Core.IO.PhysicalFileSystem, Umbraco.Core">
								<Parameters>
										<add key="rootPath" value="Media\" />
										<add key="rootUrl" value="/Media/" />
								</Parameters>
						</Provider>
						<!-- Macros -->
						<Provider alias="macros" type="Umbraco.Core.IO.PhysicalFileSystem, Umbraco.Core">
								<Parameters>
										<add key="rootPath" value="App_Data\Macros" />
										<add key="rootUrl" value="/Macros/" />
								</Parameters>
						</Provider>
						<!-- Scripts -->
						<Provider alias="scripts" type="Umbraco.Core.IO.PhysicalFileSystem, Umbraco.Core">
								<Parameters>
										<add key="rootPath" value="scripts\" />
										<add key="rootUrl" value="/scripts/" />
								</Parameters>
						</Provider>
						<!-- Stylesheets -->
						<Provider alias="stylesheets" type="Umbraco.Core.IO.PhysicalFileSystem, Umbraco.Core">
								<Parameters>
										<add key="rootPath" value="css\" />
										<add key="rootUrl" value="/css/" />
								</Parameters>
						</Provider>
						<!-- Templates -->
						<Provider alias="masterpages" type="Umbraco.Core.IO.PhysicalFileSystem, Umbraco.Core">
								<Parameters>
										<add key="rootPath" value="masterpages\" />
										<add key="rootUrl" value="/masterpages/" />
								</Parameters>
						</Provider>
						<Provider alias="views" type="Umbraco.Core.IO.PhysicalFileSystem, Umbraco.Core">
								<Parameters>
										<add key="rootPath" value="views\" />
										<add key="rootUrl" value="/views/" />
								</Parameters>
						</Provider>
				</FileSystemProviders>
		</umbracoConfiguration>
		<appSettings>
				<add key="umbracoConfigurationStatus" value="7.13.2" />
				<add key="umbracoReservedUrls" value="~/config/splashes/booting.aspx,~/install/default.aspx,~/config/splashes/noNodes.aspx,~/VSEnterpriseHelper.axd,~/.well-known" />
				<add key="umbracoReservedPaths" value="~/install/" />
				<add key="umbracoPath" value="~/umbraco" />
				<add key="umbracoHideTopLevelNodeFromPath" value="true" />
				<add key="umbracoUseDirectoryUrls" value="false" />
				<add key="umbracoTimeOutInMinutes" value="20" />
				<add key="umbracoDefaultUILanguage" value="en" />
				<add key="umbracoUseSSL" value="false" />
		</appSettings>
		<connectionStrings>
				<add name="umbracoDbDSN" connectionString="server=localhost;database=MyDestination;user id=my_destination;password=Password123" providerName="System.Data.SqlClient" />
		</connectionStrings>
		<system.data>
				<DbProviderFactories>
						<remove invariant="System.Data.SqlServerCe.4.0" />
						<add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe" />
						<remove invariant="MySql.Data.MySqlClient" />
						<add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
				</DbProviderFactories>
		</system.data>
		<system.web>
				<httpRuntime targetFramework="4.5" />
				<compilation defaultLanguage="c#" debug="true" batch="false" targetFramework="4.0"></compilation>
				<machineKey validationKey="5E7B955FCE36F5F2A867C2A0D85DC61E7FEA9E15F1561E8386F78BFE9EE23FF18B21E6A44AA17300B3B9D5DBEB37AA61A2C73884A5BBEDA6D3B14BA408A7A8CD" decryptionKey="116B853D031219E404E088FCA0986D6CF2DFA77E1957B59FCC9404B8CA3909A1" validation="SHA1" decryption="AES" />
				<!--<trust level="Medium" originUrl=".*"/>-->
				<!-- Sitemap provider-->
				<siteMap defaultProvider="UmbracoSiteMapProvider" enabled="true">
						<providers>
								<clear />
				<add name="UmbracoSiteMapProvider" type="umbraco.presentation.nodeFactory.UmbracoSiteMapProvider, umbraco" defaultDescriptionAlias="description" securityTrimmingEnabled="true" />
						</providers>
				</siteMap>
				<!-- Membership Provider -->
				<membership defaultProvider="UmbracoMembershipProvider" userIsOnlineTimeWindow="15">
						<providers>
								<clear />
								<add name="UmbracoMembershipProvider" type="Umbraco.Web.Security.Providers.MembersMembershipProvider, Umbraco" minRequiredNonalphanumericCharacters="0" minRequiredPasswordLength="4" useLegacyEncoding="true" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" defaultMemberTypeAlias="Member" passwordFormat="Hashed" allowManuallyChangingPassword="true" />
								<add name="UsersMembershipProvider" type="Umbraco.Web.Security.Providers.UsersMembershipProvider, Umbraco" minRequiredNonalphanumericCharacters="0" minRequiredPasswordLength="4" useLegacyEncoding="true" enablePasswordRetrieval="false" enablePasswordReset="false" requiresQuestionAndAnswer="false" passwordFormat="Hashed" allowManuallyChangingPassword="true" />
						</providers>
				</membership>
		</system.web>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
		<runtime>
				<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
						<dependentAssembly>
								<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
								<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
						</dependentAssembly>
						<dependentAssembly>
								<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
								<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
						</dependentAssembly>
						<dependentAssembly>
								<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" culture="neutral" />
								<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
						</dependentAssembly>
						<dependentAssembly>
								<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
								<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
						</dependentAssembly>
						<dependentAssembly>
								<assemblyIdentity name="MiniProfiler" publicKeyToken="b44f9351044011a3" culture="neutral" />
								<bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
						</dependentAssembly>
						<dependentAssembly>
								<assemblyIdentity name="NuGet.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
								<bindingRedirect oldVersion="0.0.0.0-1.0.11220.104" newVersion="1.0.11220.104" />
						</dependentAssembly>
						<dependentAssembly>
								<assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
								<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
						</dependentAssembly>
						<dependentAssembly>
								<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
								<bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
						</dependentAssembly>
						<dependentAssembly>
								<assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
								<bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
						</dependentAssembly>
						<dependentAssembly>
								<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
								<bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
						</dependentAssembly>
						<dependentAssembly>
								<assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
								<bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
						</dependentAssembly>
						<dependentAssembly>
								<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
								<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
						</dependentAssembly>
						<dependentAssembly>
								<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
								<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
						</dependentAssembly>
						<dependentAssembly>
								<assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
								<bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
						</dependentAssembly>
						<dependentAssembly>
								<assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
								<bindingRedirect oldVersion="0.0.0.0-6.9.12.0" newVersion="6.9.12.0" />
						</dependentAssembly>
				</assemblyBinding>
		</runtime>
  <applicationSettings>
    <Umbraco.Automation.CLI.Properties.Settings>
      <setting name="SiteRootDocType" serializeAs="String">
        <value>umbHomePage</value>
      </setting>
    </Umbraco.Automation.CLI.Properties.Settings>
  </applicationSettings>
</configuration>