<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<system.web>
		<membership>
			<providers>
				<add name="UmbracoMembershipProvider" 
             type="Umbraco.Web.Security.Providers.MembersMembershipProvider, Umbraco" 
             minRequiredNonalphanumericCharacters="0" 
             minRequiredPasswordLength="4" 
             useLegacyEncoding="#{UmbracoAutomation.MembersMembershipLegacyEncoding}" 
             enablePasswordRetrieval="false" 
             enablePasswordReset="true" 
             requiresQuestionAndAnswer="false" 
             defaultMemberTypeAlias="Member" 
             passwordFormat="hashed" 
             allowManuallyChangingPassword="true" 
             xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
				<add name="UsersMembershipProvider" 
             type="Umbraco.Web.Security.Providers.UsersMembershipProvider, Umbraco" 
             minRequiredNonalphanumericCharacters="0" 
             minRequiredPasswordLength="4" 
             useLegacyEncoding="#{UmbracoAutomation.UsersMembershipLegacyEncoding}" 
             enablePasswordRetrieval="false"
             enablePasswordReset="true" 
             requiresQuestionAndAnswer="false" 
             passwordFormat="hashed" 
             maxInvalidPasswordAttempts="25" 
             allowManuallyChangingPassword="true" 
             xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
			</providers>
		</membership>
	</system.web>
  <connectionStrings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <add name="umbracoDbDSN" 
         connectionString="#{UmbracoAutomation.ConnectionString}" 
         providerName="System.Data.SqlClient" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
</configuration>
