<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<system.web>
		<membership>
			<providers>
				<add name="UmbracoMembershipProvider" 
					type="Umbraco.Web.Security.Providers.MembersMembershipProvider, Umbraco" 
					minRequiredNonalphanumericCharacters="0" 
					minRequiredPasswordLength="4" 
					useLegacyEncoding="#{UmbracoAutomation.MembersMembershipLegacyEncoding}" 
					enablePasswordRetrieval="false" 
					enablePasswordReset="true" 
					requiresQuestionAndAnswer="false" 
					defaultMemberTypeAlias="Member" 
					passwordFormat="hashed" 
					allowManuallyChangingPassword="true" 
					xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
				<add name="UsersMembershipProvider" 
					type="Umbraco.Web.Security.Providers.UsersMembershipProvider, Umbraco" 
					minRequiredNonalphanumericCharacters="0" 
					minRequiredPasswordLength="4" 
					useLegacyEncoding="#{UmbracoAutomation.UsersMembershipLegacyEncoding}" 
					enablePasswordRetrieval="false"
					enablePasswordReset="true" 
					requiresQuestionAndAnswer="false" 
					passwordFormat="hashed" 
					maxInvalidPasswordAttempts="25" 
					allowManuallyChangingPassword="true" 
					xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
			</providers>
		</membership>
		<machineKey 
			decryptionKey="DD07D8608F84C6C8E7A3B72B0BD99D7FD87AEF462F6A7579" 
			validationKey="D56D812C3E5A6DEB3D39841ABA1EC0DF5766FA69E3CE470E0C1584A9074261218C6B561CAD826E94F5BBAD514A95FA01D9DEABE3C9F77D1D49712412739128E9" 
			xdt:Transform="Replace" />
	</system.web>
	<connectionStrings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
		<add name="umbracoDbDSN" 
			connectionString="#{UmbracoAutomation.ConnectionString}" 
			providerName="System.Data.SqlClient" 
			xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
	</connectionStrings>
</configuration>
